server {
    listen 80;
    server_name idcops.iloxp.com;
    root /data/apps/idcops/;

    # include idcops_ssl_conf;

    location / {
      include uwsgi_params;
      uwsgi_pass unix:///data/apps/idcops/run/uwsgi.sock;
    }

    location /static {
      alias /data/apps/idcops/static;
      expires      7h;
      access_log off;
    }
        
    location /media {
      alias /data/apps/idcops/media;
      expires      7h;
      access_log off;
    }

    access_log /data/apps/idcops/logs/nginx_access.log;
    error_log /data/apps/idcops/logs/nginx_error.log;
    
    location ~ /\.ht {
      deny  all;
    }

}