{% extends 'base/edit.html' %}
{% load app_extras %}
{% block page-extra %}
{%if request.GET.rack_id%}
{% rack_overview request.GET.rack_id object.units.all %}
{%else%}
{% rack_overview object.rack_id object.units.all %}
{%endif%}
{% endblock %}
{% block extra-js %}
{{form.media.js}}
<script>
$(document).ready(function (){
// Select2
$("select").select2({language: "zh-CN"});

//DateTimeField
$("input[data-datetime='true']").daterangepicker({
  timePicker: true,
  timePickerIncrement: 5,
  timePicker24Hour: true,
  locale:{
    format: 'YYYY-MM-DD H:mm:ss',
    applyLabel: '确认',
    cancelLabel: '取消',
    fromLabel: '从',
    toLabel: '到',
    weekLabel: 'W',
    customRangeLabel: '选择时间',
    daysOfWeek:["日","一","二","三","四","五","六"],
    monthNames: ["一月","二月","三月","四月","五月","六月","七月","八月","九月","十月","十一月","十二月"],
  },
  singleDatePicker: true
});

//document.location.href=this.options[this.selectedIndex].value;
//选择机柜跳转
$("#id_rack").change(function(){
  var selected=$(this).children('option:selected').val();
  if (selected > 0){
    document.location.href="?rack_id="+selected+"";
  };
});
//重置该设备的机柜号
{%if request.GET.rack_id%}
var rack_id = {{request.GET.rack_id}};
$("#id_rack option[value=rack_id]").attr('selected', true)
$("#id_rack").val(rack_id).trigger('change.select2');
{%endif%}

});
</script>
{% endblock %}
